body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f7fa;
    color: #333;
    overflow-x: hidden;
  }
  
  h1, h2 {
    justify-content: center;
    text-align: center;
  }
  
  button {
    width: 80px;
    height: 40px;
    background-color: #a8a8a8;
    border: 2px solid #a8a8a8;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
  }
  
  button:hover {
    background-color: #a5a5a5;
    border: 2px solid #8f8f8f;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .card-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1200px;
  }
  
  .card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 45%;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: auto;
    max-width: 380px; 
    max-height: 450px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card-body {
    padding: 20px;
    text-align: center;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #222;
  }
  
  .card-text {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
  }
  
  .card-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    background-color: #dddada;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .menu a {
    color: #030303;
    background-color: #969595;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 5rem;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .menu a:hover {
    background-color: #949494;
  }
  
  .active_class {
    color: #fff;
    background-color: #363636;
    border: 2px solid #4d4d4d;
  }
  